/*
wood brown: A89F68;
army green: 41521F;
*/
.first{
	background-image: url("../img/portada.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.save{
	color: white;
    padding-top: 10px;
    font-weight: bold;
}
nav li a{
	color:white;
	padding-left: 3px;
	font-weight: bold;
}
#save-k{
	padding-top: 230px;
    color: white;
}
.btn{
	background-color: #41521F;
	color:white;
	border-color:#41521F;
}